<h5 class="callout-header-title">Add On</h5>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Description</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% add_on.add_ons.each do |add_on| %>
      <tr>
        <td><%= add_on.job_request.product.name %></td>
        <td><%= add_on.description %></td>
        <td><%= add_on.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
