<h1>New Deal <%= "for #{@department.organization.name} (#{@department.name})" if @department %></h1>

<%= render 'form', deal: @deal, department: @department %>

<%= link_to 'Back', @department || deals_path %>
