/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require styles/toolkit
 */

.button.add-deal-button {
  margin: 0;
}

input[type="number"].quantity-input {
  margin: 0;
}

.subtotal {
  border-top: 1px dashed black;
}

.total {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.design-name {
   font-weight: bold;
   font-size: 1rem;
}

.design-accordion {
  display: table !important;
  width: 100%;
}

.design-accordion-image {
  max-width: 400px;
  max-height: 400px;
}

.design-name, .product-name, .total-qty, .checkers-span {
  display: table-cell;
  color: black;
  width: 25%;
}

.product-breakdown-table {
  margin: 0;
}

.product-breakdown-table th, .product-breakdown-table tbody td {
  padding: 0;
}
