/*
 * Library styles
 *
 *= require tagmanager
 *= require feedback
 */

@import "styles/toolkit";
@import "global";
@import "deals";
@import "packing_list";
@import "organizations";
@import "visual_generators";
@import "samples";

.content {
  padding-top: $global-margin * 2;
  padding-bottom: $global-margin * 2;
}

.accordion-item {
  &.production {
    background: $success-color;
  }

  .accordion-title {
    span {
      margin-right: $global-margin;
      font-size: $global-font-size;
      color: $black;
    }
  }
}

.off-canvas-content {
  min-height: 90vh;
}

.input.error {
  input {
    background: rgba(#D50000, .3);
    border-color: #D50000;
  }

  label,
  small {
    color: #D50000;
  }
}
