<div class="">
  <div class="color-box" style="display: inline-block;
                                border: 1px black solid;
                                width: 10px;
                                height: 10px;
                                background-color: <%= hex %>">
  </div>
  <%= label %>
</div>
